/*
	css style sheet that is included by all the pages
*/

*{
	margin-top: 0px;
	margin-left:0px;
	/* 
color:#777777;
	
 */color:#6B6B6B
}

body{
	font-family: Times New Roman, Times, serif;
	font-size: 15px;
	position: relative;
	min-width:1070px;
	max-width:1750px;
	background-color:#fff;
	margin: 0px auto;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased;
	height:100vh;
	min-height:720px;
}

div{
	outline:none;
	word-wrap: break-word;
}


div img{
	border-radius:2px;
	border:none;
}

input,textarea, select{
	outline:none;
	font-family: Times New Roman, Times, serif;
  	font-size: 13px;
}
textarea{
	resize:none;
}

.blk{
	display:block;
}

.plain-lk{
	text-decoration:none;
}
.plain-lk:hover{
	text-decoration:underline;
}

.hdn{
	display:none !important;
}

.hdn-input{
	width:0px;
	height:0px;
}	
.hdn-form{
	position:absolute;
	top:0px;
	left:0px;
}

.clr{
	clear:both;
}
.animate-opacity{
	opacity:1;
}

.animate-opacity:hover{
	opacity:0.8;
}

.pointer{
	cursor:pointer;
}
.inline-blk{
	display:inline-block;
	vertical-align:top;
}

	
.txt_ofl{
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.loading-container-wrapper{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
	z-index:1;
}

.loading-container-wrapper .loading-container{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#fff;
	opacity:0.7;
	z-index:-1;
}

.visible-control{
	color:#949494;
	margin-top:3px;
}

.visible-control:hover{
	color:#2459B6;
}


.loading-container-wrapper img{
	width: 29%;
}

.left-bar{
	float:left;
}

.right-bar{
	float:right;
}

.left-align{
	text-align:left;
}
.right-align{
	text-align:right;
}

.overlay{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.6;
	z-index:999;
	overflow:hidden;
}

.red-textarea {
  border: 2px solid #c4140e;
  font-size: 12px;
  width: 90%;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.hgt-input:focus{
	border:2px solid #c4140e;
	border-radius:3px;
}

.hovering:hover{
	opacity:1;
}

.gradient-red-background{
	background: #780000;
	background: -webkit-linear-gradient(#a13030, #780000);
	background: -o-linear-gradient(#a13030,#780000);
	background: -moz-linear-gradient(#a13030,#780000);
	background: linear-gradient(#a13030,#780000);
}

.gradient-red-background-hover:hover{
	background: #780000;
	background: -webkit-linear-gradient(#a13030, #780000);
	background: -o-linear-gradient(#a13030,#780000);
	background: -moz-linear-gradient(#a13030,#780000);
	background: linear-gradient(#a13030,#780000);
	color:white;
}

.light-gray-shadow{
  	border: 1px solid #f0f0f0;
	box-shadow:1px 1px 10px #f0f0f0;
}

#logo{
	box-shadow: 1px 1px 10px gray;
	border-radius: 5px;
	text-align: center;
	padding: 6px 10px;
	color: #fff;
	font-size: 19px;
	font-weight:bold;
	position:absolute;
	left: 64px;
 	top: 10px;
}

.vertical-center{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
}

.n_r_s{
	position:absolute;
	width:20px;
	height:20px;
	border-radius:25px;
	color:white;
	background-color:#8f1414;
	box-shadow:1px 1px 6px gray;
	font-size:12px;
	padding-top:1px;
	font-weight:bold;
	text-align:center;
	right:0px;
	top:0px;
	z-index:3;
}

.header{
  	width: 100%;
  	position:relative;
  	background-color: #fff;
  	height: 60px;
	border-bottom: 1px solid #f0f0f0;
}

.header #global-search-bar{
	position: absolute;
	top: 20px;
	left: 334px;
	width: 376px;
	
}

.header #global-search-bar  #global-search-bar-inner{
	position:relative;
	width:100%;
}
.header #global-search-bar  #global-search-bar-inner label{
	position:absolute;
	right:-6px;
	top:3px;
	z-index:1;
}
.header #global-search-bar  #global-search-bar-inner input{
	position:absolute;
	border-radius: 4px;
	padding: 4px;
	border: 1px solid #EAEAEA;
	width:100%;
}


.header #loggedin-menu {
	position: absolute;
	top: 14px;
	right: 100px;
}


.header #loggedin-menu .header-navi-item {
	margin-left: 10px;
	font-weight: bold;
	font-size: 13px;
	color: #646464;
}
.header #loggedin-menu #index-noti-red-spot{
	top: -18px;
  	left: 13px;
}

.header #loggedin-menu #loggin-user-icon {
  margin-left: 20px;
}


.header #loggedin-menu #setting-menu {
	position:absolute;
	right:0px;
	top:40px;
	background: #fff;
	box-shadow: 1px 1px 12px #DBDBDB;
	padding: 6px;
	border-radius: 4px;
	width: 120px;
	display:none;
}
.header #loggedin-menu #setting-menu .setting-menu-item{
	font-size:13px;
	padding:7px;
	border-bottom:1px solid #f0f0f0;
}



#side-bar-notification-center{
	position:absolute;
	right:-26%;
	height:80vh;
	width:26%;
	background-color:#f0f0f0;
	border-radius:10px 0px 0px 10px;
}

/*begins dialog template*/
.dialog{
	background:#fff;
}
.dialog-header{
	color:#fff;
	background: #780000;
	background: -webkit-linear-gradient(#a13030, #780000);
	background: -o-linear-gradient(#a13030,#780000);
	background: -moz-linear-gradient(#a13030,#780000);
	background: linear-gradient(#a13030,#780000);
	text-align:left;
	height:40px;
}
.dialog-header .dialog-header-inner{
	height:100%;
	margin:0px 0px 0px 16px;
}

.dialog-header .dialog-header-inner .dialog-header-left-item{
	width:48.9%;
	height:100%;
}

.dialog-header .dialog-header-inner .dialog-header-right-item{
	width:49%;
	height:100%;
	text-align:right;
}

.dialog-header .dialog-header-inner .dialog-header-right-item .dialog-header-bar-option{
	height:100%;
	width:34%;
	text-align:center;
}
.dialog-header .dialog-header-inner .dialog-header-right-item .dialog-header-bar-option div{
	color:#fff;
	font-weight:bold;
	font-size:15px;
}


.dialog-header .dialog-header-inner .bar-title{
	color:#fff;
	font-weight:bold;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}


.dialog-header .inline-blk .dialog-header-bar-option:hover{
	background-color:#8a0000;
}

.dialog-body{
	background:#fff;	
	text-align:left;
}

.dialog-footer{
	background:#fff;
}

.edit-dialog-footer{
	text-align:right;
	border-top:1px solid #f0f0f0;
	padding:6px 0px;
	margin-top:4px;
}

.action-button{
	cursor:pointer;
	font-weight:bold;
	color:#fff;
	padding:7px 6px;
	border-radius:2px;
	font-size:13px;
	border:1px solid #f0f0f0;
	background: #780000;
	background: -webkit-linear-gradient(#a13030, #780000);
	background: -o-linear-gradient(#a13030,#780000);
	background: -moz-linear-gradient(#a13030,#780000);
	background: linear-gradient(#a13030,#780000);
	color:white;
	box-shadow:2px 0px 3px #EAEAEA;
	border-radius: 3px;
}
.action-button:hover{
	background-color:#8a0000;
	opacity:0.92;

}

.cancel-button{
	cursor:pointer;
	background:#F6F6F6;
	background: -webkit-linear-gradient(#F6F6F6,#f0f0f0);
	background: -o-linear-gradient(#F6F6F6,#f0f0f0);
	background: -moz-linear-gradient(#F6F6F6,#f0f0f0);
	background: linear-gradient(#F6F6F6,#f0f0f0);
	padding:7px 6px;
	border-radius:2px;
	font-size:13px;
	border:1px solid #f0f0f0;
	border-radius:0px;
}
/*ends dialog  template*/

/*starts popup dialog template*/

.popup-dialog{
	box-shadow:1px 3px 9px #A6A3A3;
	width:40%;
	border-radius:3px;
	overflow:hidden;
}

.popup-dialog .dialog-header{
	height:36px;
}

.popup-dialog .dialog-body{
	min-height:60px;
}
.popup-dialog .dialog-body .body-text{
	margin:10px 16px;
	font-size:16px;
}
.popup-button{
	padding:3px 4px;
	min-width:60px;
	text-align:center;
	font-size:14px;
	border:1px solid #EAEAEA;
}

.popup-button:hover{
	border:1px solid #000;
}

.cancel-button:hover{
	border:1px solid #EAEAEA;
}

#dialog-popup-overlay{
	background:rgb(43,43,43);
}

/*ends popup dialog template*/


.light-gray-button{
	text-shadow: 1px 1px 1px black;
	box-shadow: 1px 1px 5px black;
	font-family: Arial,Times New Roman,Georgia;
	font-weight: bold;
	text-align: center;
	background: #f5f5f5;
	background: -webkit-linear-gradient(#f5f5f5, gray);
	background: -o-linear-gradient(#f5f5f5, gray);
	background: -moz-linear-gradient(#f5f5f5, gray);
	background: linear-gradient(#f5f5f5, gray);
	opacity: 0.7;
}
/* starts with interest profile template*/
.inetrest-profile .dialog-header{
	height:40px;
	border-radius:3px 3px 0px 0px;
}

.inetrest-profile .dialog-body{
	padding:10px 16px;
	box-shadow:1px 1px 10px #E8E8E8;
	border-radius:0px 0px 3px 3px;
	overflow:hidden;
}

.inetrest-profile .dialog-body .first-cap{
	font-size:20px;
	color:#000;
	font-weight:bold;
}


.inetrest-profile .dialog-body .interest-image-label{
	float:left;
}

.inetrest-profile .dialog-body .interest-image-label img{
	height:36px;
	width:36px;
	border-radius:50%;
	margin:6px 10px 0px 0px;
	
}

.inetrest-profile .dialog-body .limit-height{
	overflow:hidden;
	max-height:120px;
}
.inetrest-profile .dialog-body .exp{
	font-weight:bold;
	color:#000;
	margin:6px 0px;
}



/* ends with interest profile template*/

#frag-footer{
	text-align: center;
	font-size: 13px;
}
#frag-footer #footer-item-wrapper{
	margin-bottom:4px;
}
#frag-footer .footer-item{
	margin-right:20px;
}
