



.hiddenInput{
	display:none;
}



button:focus {
	outline:none;
}

div{
	outline:none;
	word-wrap: break-word;
}


div{
	border:none;
}

input,textarea, select{
	outline:none;
	font-family:Gill, Helvetica, sans-serif;
  	font-size: 15px;
}

textarea{
	resize:none;
	overflow:auto;
}

.hashtag{
	color:#1D4D79;
}
.blk{
	display:block;
}
.dummy-lk{
	text-decoration:none;
}

.plain-lk{
	text-decoration:none;
}
.plain-lk:hover{
	text-decoration:underline;
}

.hdn{
	display:none !important;
}

.vertical-center{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
}




.inline-blk{
	display:inline-block;
	vertical-align:top;
}
.pointer{
	cursor:pointer;
}
.vertical-center{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
}




.remove-circle-icon{
	opacity:0.6;
	cursor:pointer;
}

.remove-circle-icon:hover{
	opacity:1;	
}
/* 
.follow-button{
	padding: 0px 11px;
	background: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
 	border:1px solid #1F6DB6;
	color: #386D9E;
 	line-height: 30px;
 	background-color: #1D4D79;    color: #fff;

}

.follow-button:hover{
	background-color: #235F96;
}

.silver-button{
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    background: -o-linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    background: -moz-linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    background: linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    border: 1px solid #ADADAD;
    border-radius: 4px;
    cursor:pointer; 
}

.profile-activity-wrapper{
	
}
.profile-activity-wrapper .profile-activity{
	display:inline-block;
	margin-right:6px;
	color:#223D50;
}
 */



.animated-button{
	padding: 0px 11px;
	background: none;
    border-radius: 3px;
  	line-height: 30px;
 	font-weight:700;
 	cursor:pointer;
 	font-size:13px;
}

.animated-button:hover{
	transform:scale(1.01,1.01);
	-webkit-transform:scale(1.01,1.01);
	-ms-transform:scale(1.01,1.01);
}

.animated-button:active{
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
}

.follow-button{
	color: #386D9E;
 	border:1px solid #1B5E9C;
}

.follow-button:hover{
	color: #25527C;
 	border:1px solid #1C5B96;
}




.action-button{
	cursor:pointer;
	color:#fff;
	border-radius: 4px;
}

.red-action-button{
 	border:1px solid #9F1B1B;
 	color:#A01212;
}

.red-action-button:hover{
 	border:1px solid #921717;
 	color:#920F0F;
}


.blue-action-button{
	color: #386D9E;
 	border:1px solid #1B5E9C
}

.blue-action-button:hover{
	color: #25527C;
 	border:1px solid #1C5B96;
}

.gray-action-button{
	border: 1px solid #D1D1D1 !important;
}
 


.segue{
	background: #fff;
}

.segue-to-main{
	position:absolute;
	left:20px;
/* 
	opacity:0.6;
 */
	font-size:15px;
	cursor:default;
	color:#B0B0B0;
}

.sugue-adjust{
	margin-top: 0px !important;
}

.post-photo-thumbnail{
	width:25%;
	height:100%;
	float:left;
	display:inline-block;
	overflow:hidden;
	position:relative;
}

.post-photo-thumbnail>.photo-thumbnail{
	display: block;
	cursor:pointer;
}

.post-photo-thumbnail>.remove-circle-icon{
	position:absolute;
	top:4px;
	right:4px;
}


#attach-post-photo-label{
	width:100%;
	height:100%;
	position:absolute;
	right:0px;
	background: #1C3E5A;
	text-align:center;
	cursor:pointer;
	display:inline-block;
}


.photo-container-highlight{
	border: 2px solid blue;
}

.drop-photo-scale-animation{
	transform:scale(1.2,1.2) !important;
	-webkit-transform:scale(1.2,1.2) !important;
	-ms-transform:scale(1.2,1.2) !important;
    transition: transform 0.5s;
}

.photo-layout-body .photo-segment{
	height:100%;
	overflow:hidden;
	width:100%;
}

.photo-layout-body .photo-segment .swap-content-container{
	height:100%;
	width:100%;
}


.photo-layout-body .two-column-horizon{
	width:100%;
	height:50%;
}

.photo-layout-body .two-column-horizon .photo{
	width:100%;
}

.photo-layout-body .two-column-vertical{
	width:50%;
	height:100%;
}

.photo-layout-body .two-column-vertical .photo{
	height:100%;
}


.photo-constriant{
	z-index:-1;
}

.photo{
	margin-top:0px;
	margin-left:0px;
}

.two-column-horizon-up{
	width:100%;
	position:absolute;
	top:-256px;
	height:768px;
}

.two-column-horizon-down{
	width:100%;
	position:absolute;
	top:0px;
}


/* starts the add scene dialog */
#add-scene-dialog-wrapper #attach-post-photo-banner{
	width:100%;
	overflow:hidden;
	position:relative;
	height:128px;
	font-size:0px;
	background-color: #000;
}

#add-scene-dialog-wrapper #attach-post-photo-banner > #attach-post-photo-submit-form{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}


#add-scene-dialog-wrapper #post-photo-layout-segue #layout-draggable{
	background:#000;
	overflow:hidden;
	cursor:move;
	height:512px;
	width:512px;
	font-size:0px;
	position:relative
}



/* ends the add scene dialog */


/*starts profile css*/



#add-scene-button{
	padding:0px 30px;
}
#follow-button{
	padding:0px 40px;
}

#profile-right-content-wrapper{
	text-align:left;
	margin-bottom:10px;
}


@-webkit-keyframes editSlideUp{
	from{
		bottom:-40px;
	}
	to{
		bottom:0px;
	}
}


@keyframes editSlideUp{
	from{
		bottom:-40px;
	}
	to{
		bottom:0px;
	}
}




@-webkit-keyframes editSlideDown{
	from{
		bottom:0px;
	}
	to{
		bottom:-40px;
	}
}


@keyframes editSlideDown{
	from{
		bottom:0px;
	}
	to{
		bottom:-40px;
	}
}

@-webkit-keyframes segueSlideInLeft{
	from{
		right:-100%;
	}
	to{
		right:0px;
	}
}

@keyframes segueSlideInLeft{
	from{
		right:-100%;
	}
	to{
		right:0px;
	}
}



@-webkit-keyframes segueSlideOutRight{
	from{
		right:0px
	}
	to{
		right:-100%;
	}
}

@keyframes segueSlideOutRight{
	from{
		right:0px
	}
	to{
		right:-100%;
	}
}







/*ends profile css*/

