*{
	margin:0px;
	padding:0px;
	color:#676767;
}

body{
	font-size:14px;
	position: relative;
	background-color:#fff;
    max-width: 1750px;
	margin: 0px auto;
	line-height: 1.5;
	font-family:helvetica, arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	min-height:720px;
	overflow-x:hidden;
}

.unscrollable{
	overflow:hidden;
}



button:focus {
	outline:none;
}

div{
	outline:none;
	word-wrap: break-word;
}


div{
	border:none;
}

input,textarea, select{
	outline:none;
	font-family:Gill, Helvetica, sans-serif;
  	font-size: 15px;
}

textarea{
	resize:none;
	overflow:auto;
}
.txt-overflow{
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.hashtag{
	color:#1D4D79;
}
.blk{
	display:block;
}
.dummy-lk{
	text-decoration:none;
}

.plain-lk{
	text-decoration:none;
}
.plain-lk:hover{
	text-decoration:underline;
}

.hdn{
	display:none !important;
}

.vertical-center{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
}

#gl-search-input{
	width:180px;
}

#gl-search-input{
	background-color: #F8F8F8;
	font-size:14px !important;
}
#gl-search-input:focus{
	background-color: #fff;
}


.inline-blk{
	display:inline-block;
	vertical-align:top;
}
.pointer{
	cursor:pointer;
}
.vertical-center{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color:#9E9E9E;
  font-size:15px;
  cursor:text;
}

/*starts post template*/
.post{
	padding:6px 0px;
	background:#fff;
}

.post .post-user-info{
	margin-left: 54px;
}

.post .post-user-info .post-user-name{
	color:#323232;
	font-weight:600;
	font-size:15px;
}

.post .post-operation-icon{
	opacity:0.3;
	margin-right:6px;
}
.post .action-num{
	font-weight:bold;
	color:#A0A0A0;
}

.post .post-avator{
	height:48px;
	width:48px;
	border-radius:50%;
	position:absolute;
}
.post .post-master{
	margin-top:10px;
	width:100%;
	position:relative;
/* 
	max-width:520px;
 */
	/* border-bottom:1px solid #e4e4e4; */
	/* padding-bottom:20px; */
}

.post .post-master .post-attached-img{
	width:100%;
	display: block;
	border-radius:0px;
}

.post .post-master .post-user-interact{
	margin-top: 10px;
	text-align:right;
}
.post .post-master .post-user-interact .action-num{
	font-size:14px;
}

.post .post-master .post-user-interact .toggle-comment{
	vertical-align:bottom
}

.post .post-tag-date{
	position:absolute;
	top:-92px;
	right:-74px;
}
.post .post-tag-date .date{
	margin-left:10px;
}
.post .post-tag-date .date .day{
	color:#333;
	font-weight:600;
	font-size:30px;
	margin-right:2px;
}
.post .post-tag-date .date .mon, .post .post-tag-date .date .year{
	font-size:14px;
	margin-top:-4px;
}
.post .post-interaction{
	text-align:left;
	clear:both;
	font-size:14px;
}

.post .post-interaction .activity-avator{
	width:36px;
	height:36px;
	border-radius:50%;
}

/*ends post template*/



/* 
.follow-button{
	padding: 0px 11px;
	background: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
 	border:1px solid #1F6DB6;
	color: #386D9E;
 	line-height: 30px;
 	background-color: #1D4D79;    color: #fff;

}

.follow-button:hover{
	background-color: #235F96;
}

.silver-button{
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    background: -o-linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    background: -moz-linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    background: linear-gradient(#FFFEFE,#F3F3F3, #ECEBEB);
    border: 1px solid #ADADAD;
    border-radius: 4px;
    cursor:pointer; 
}

.profile-activity-wrapper{
	
}
.profile-activity-wrapper .profile-activity{
	display:inline-block;
	margin-right:6px;
	color:#223D50;
}
 */



.animated-button{
	padding: 0px 11px;
	background: none;
    border-radius: 3px;
  	line-height: 30px;
 	font-weight:700;
 	cursor:pointer;
 	font-size:13px;
}

.animated-button:hover{
	transform:scale(1.01,1.01);
	-webkit-transform:scale(1.01,1.01);
	-ms-transform:scale(1.01,1.01);
}

.follow-button{
	color: #386D9E;
 	border:1px solid #1B5E9C
}

.follow-button:hover{
	color: #25527C;
 	border:1px solid #1C5B96;

}

.action-button{
	cursor:pointer;
	color:#fff;
	border-radius: 4px;
}

.red-action-button{
 	border:1px solid #9F1B1B;
 	color:#A01212;
}

.red-action-button:hover{
 	border:1px solid #921717;
 	color:#920F0F;
}


.blue-action-button{
	color: #386D9E;
 	border:1px solid #1B5E9C
}

.blue-action-button:hover{
	color: #25527C;
 	border:1px solid #1C5B96;

}

.gray-action-button{
	border: 1px solid #D1D1D1 !important;
}
 

.profile-data-label{
	color:#080835
}


.overlay{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.6;
	z-index:999;
	overflow:hidden;
}

.dialog-title{
	width:100%;
	background:#fff;
	text-align:center;
	border-bottom:1px solid #eaeaea;
	position:relative;
	padding:12px 0px;
}
.dialog-title-text{
 	font-weight:600;
 	font-size:16px;
 }



.option-bar{
	background-color:#fff;
	border-top:1px solid #eaeaea;
	padding:10px 24px;
}

.segue{
	background: #fff;
}

.segue-to-main{
	position:absolute;
	left:20px;
/* 
	opacity:0.6;
 */
	font-size:15px;
	cursor:default;
	color:#B0B0B0;
}

.label-red{
	color:#751B1B;
}

.bb-list{
	border-bottom:1px solid #eaeaea;
	padding:10px 24px;
	cursor:default;
}


.bt-list{
	border-top:1px solid #eaeaea;
	padding:10px 24px;
	cursor:default;
}

#edit-dialog-wrapper{
	position:fixed;
	width:100%;
	text-align:center;
	z-index:100;
}

#edit-dialog-wrapper #edit-dialog-wrapper-inner{
	border-radius:3px;
	overflow:hidden;
}

#edit-dialog-wrapper #edit-dialog-wrapper-inner>.segue-wrapper{
	width:100%;
	background: #fff;
	overflow:hidden;
	border-radius:3px;
}

#edit-dialog-wrapper #edit-dialog-wrapper-inner>.segue-wrapper>.segue-main{
	padding:0px 0px 0px 0px;overflow:hidden;
}

.scene-box{
	max-height:148px;
	overflow-y:scroll;
	overflow-x:hidden;
}



