#index-global-container{
	width: 90%;
    margin: 10px auto 0px auto;
    min-height: 100vh;
}

#index-news-feed #add-new-interest{
	width:100% !important;
	margin-bottom:20px;
}

#index-news-feed #add-new-interest .edit-dialog-footer{
	padding: 8px 0px !important;	
}
