/*
	css style sheet that is included ONLY to the login page
*/

/*begin login header*/
#login-header{
	width:100%;
	border-bottom:1px solid #f0f0f0;	
	padding:10px 0px;
}

#login-header #login-header-inner{
	height:40px;
	width: 80%;
 	min-width:900px;
	max-width:1400px;
	margin:0px auto;
}


#login-header #login-header-inner .right-bar span{
  font-size: 14px;
  font-weight:bold;
}
#login-header #login-header-inner .right-bar img{
	height:30px;
	width: 30px; 
}

#login-header #login-header-inner .right-bar #signup-icon{
	opacity:0.6;
	margin-left:10px;
}

/*end login header*/
#login-body{
	width:80%;
	min-width:900px;
	max-width:1400px;
	height:400px;
	margin:0px auto;
}
#login-body #login-body-inner .right-bar{
	width:46%;
}

#login-body #login-body-inner .right-bar #login-form{
	width:100%;
	margin:80px 0px 0px 0px;
	border-radius:4px;
}

#login-body #login-body-inner .right-bar .dialog-header{
	width:100%;
	height:36px;
	padding:0px;
	border-radius:4px 4px 0px 0px;
}

#login-body #login-body-inner .right-bar .dialog-body{
	width:100%;
	background:#fff;
	text-align:center;
}

#login-body #login-body-inner .right-bar #login-form-body{
	height:100px;
}


#login-body #login-body-inner .right-bar .dialog-body .inline-blk:first-child{
	margin-right:10px;
}

#login-body #login-body-inner .right-bar .dialog-body #login-field-wrapper{
	width:70%;
}

#login-body #login-body-inner .right-bar .dialog-body .text{
	width:96%;
	padding:4px;
}


#login-body #login-body-inner .right-bar .dialog-body #login-field-wrapper input:first-child{
	margin-bottom:6px;
}
#login-body #login-body-inner .right-bar .dialog-body #login-button-wrapper{
	width:20%;
}

#login-body #login-body-inner .right-bar .login-action-button{
	width: 100%;
  	height: 50px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 5px;
}

#login-body #login-body-inner .right-bar .dialog-footer{
	padding:1px 14px;
}

#login-body #login-body-inner .right-bar .dialog-footer label{
	font-size:14px;
	margin-left:6px;
}


#login-body #login-body-inner .right-bar #signup-form{
	width:78%;
	margin:80px 0px 0px 100px;
	min-height:300px;
	min-width:330px;
}

#login-body #login-body-inner .right-bar #signup-form-body{
	/* height:230px; */
}


#login-body #login-body-inner .right-bar #signup-form .sign-up-alert{
	color: #c40000;
	position: absolute;
	width: 200px;
	left: -220px;
	padding: 4px;
	text-align:left;
}


#login-body #login-body-inner .right-bar #signup-form div{
	line-height:1.4;
}

#login-body #login-body-inner .right-bar #signup-form #signup-form-body #signup-field-wrapper{
	text-align:center;
}

#login-body #login-body-inner .right-bar #signup-form #signup-form-body #signup-field-wrapper > div{
	position:relative;
}

#login-body #login-body-inner .right-bar #signup-form #signup-form-body #signup-field-wrapper .text{
	margin-bottom:10px;
	width:88%;
}





#login-body #login-body-inner .right-bar #signup-form #signup-form-footer{
	height:80px;
}

#login-body #login-body-inner .right-bar #signup-form #signup-form-footer .gender-alert{
	left:-238px;
	top:-6px;
}

#login-body #login-body-inner .dialog-header .dialog-header-inner .dialog-header-left-item{
 	width: 48.6% !important;

}

#login-body #login-body-inner .dialog-header .dialog-header-inner{
	margin:0px 0px 0px 18px !important;
}

#login-body #login-body-inner .right-bar #signup-form #signup-form-footer #signup-term-prompt{
	border-top:1px solid #f0f0f0;
	margin-top:8px;
	padding-top:8px;
	font-size:12px;
	opacity:0.8;
}


#login-footer{
	width:100%;
	padding:20px 0px;
	position:absolute;
	bottom:0px;
}

