#profile-left-content-wrapper{
	position:relative;
}


#profile-left-content-wrapper #profile-avator-wrapper{
 	display:inline-block;
	border:6px solid #fff;
	border-radius:3px;
	overflow:hidden;
}

#profile-left-content-wrapper #profile-avator-wrapper #a-e-p-overlay{
	position:absolute;
	bottom:-40px;
	width:100%;
	height:40px;
	background:#000;
	opacity:0.6;
	cursor:pointer;
}

#profile-left-content-wrapper #profile-avator-wrapper #a-e-p-edit{
	position:absolute;
	bottom:-40px;
	color:#fff;
	font-size:12px;
	font-weight:600;
	margin:10px 0px;
	cursor:pointer;
	text-align:center;
	width:100%;
}



#profile-left-content-wrapper #profile-name-wrapper{
	margin:0px 0px 0px 0px
}

#profile-left-content-wrapper #profile-name-wrapper #profile-name{
	font-weight:600;
	font-size:22px;
	color:#223D50;
}

.profile-data{
 	text-align:center;
 	color:#080835;
 	font-weight:600;
 	color:#333A60;
}


@media(min-width:1124px){
	#profile-main-container{
		text-align:left;
	}
}

@media(max-width:1124px){
	#profile-main-container{
		text-align:center;
		margin-left:-120px;
	}
}




/*profile css for desktop view*/
@media (min-width: 930px) {
	#profile-left-content-wrapper{
		width:24%;
		padding:20px;
		text-align:left;
	}
	#profile-right-content-wrapper{
		width:50%;
	}
	
	
	#profile-left-content-wrapper #profile-avator-wrapper #profile-avator{
		height:140px;
		width:140px;
	}
	
	.post{
		box-shadow:1px 1px 10px #838383;
	}
	
	#profile-left-content-inner-wrapper{
		margin:-138px 0px 20px 36px;
	}

	#cover-caption{
		display:block;
	}
	
	.profile-data-label{
		font-size: 15px;
	}
	
	
	#profile-left-content-wrapper #profile-name-wrapper #profile-name{
		font-size:24px;
	}
	
	.profile-data{
		font-size: 20px;
	}
	
	#profile-left-content-wrapper #profile-avator-wrapper{
		margin-left:-4px;
	}
	
	.profile-bio{
		font-size:15px;
	}
	
	#edit-dialog-wrapper{
		margin-top:-20px;
	}
	
	#edit-dialog-wrapper #edit-dialog-wrapper-inner{
		/* width:40%; */
		width:512px;
	}
	

}
/*profile css for mobile view*/

@media (max-width: 930px) {
	#profile-left-content-wrapper{
		width:100%;
		text-align:center;
	}
	#profile-right-content-wrapper{
		width:100%;
	}
	
	#profile-left-content-wrapper #profile-avator-wrapper #profile-avator{
		height:80px;
		width: 80px;
	}
	
	.post{
		border-top:1px solid #D6D6D6;
	}
	#profile-left-content-inner-wrapper{
		margin:-70px 20px 20px 20px;
	}
	
	#cover-caption{
		display:none;
	}
	.profile-data-label{
		font-size: 13px;
	}
	#profile-left-content-wrapper #profile-name-wrapper #profile-name{
		font-size:18px;
	}
	
	#profile-main-container{
		text-align:center;
		margin-left:0px;
	}
	
	.profile-data{
		font-size: 16px;
	}
	
	#profile-left-content-wrapper #profile-avator-wrapper{
		margin-left:0px;
	}
	
	.profile-bio{
		font-size:13px;
	}
	
	
	#edit-dialog-wrapper{
		margin-top:0px;
		height:100%;
		background:#fff;
	}
	
	
	
	#edit-dialog-wrapper #edit-dialog-wrapper-inner{
		width:100%;
	}
}

#add-scene-button{
	padding:0px 30px;
}
#follow-button{
	padding:0px 40px;
}

#profile-right-content-wrapper{
	text-align:left;
	margin-bottom:10px;
}


@-webkit-keyframes editSlideUp{
	from{
		bottom:-40px;
	}
	to{
		bottom:0px;
	}
}


@keyframes editSlideUp{
	from{
		bottom:-40px;
	}
	to{
		bottom:0px;
	}
}




@-webkit-keyframes editSlideDown{
	from{
		bottom:0px;
	}
	to{
		bottom:-40px;
	}
}


@keyframes editSlideDown{
	from{
		bottom:0px;
	}
	to{
		bottom:-40px;
	}
}

@-webkit-keyframes segueSlideInLeft{
	from{
		right:-100%;
	}
	to{
		right:0px;
	}
}

@keyframes segueSlideInLeft{
	from{
		right:-100%;
	}
	to{
		right:0px;
	}
}



@-webkit-keyframes segueSlideOutRight{
	from{
		right:0px
	}
	to{
		right:-100%;
	}
}

@keyframes segueSlideOutRight{
	from{
		right:0px
	}
	to{
		right:-100%;
	}
}





