#search-sider-bar-left{
	width:20.3%;
}
#search-sider-bar-right {
	width: 54%;
	vertical-align: top;
	min-width: 700px;
	min-height:100vh;
	padding-left: 10px;
	border-left:1px solid #EAEAEA;
	padding-bottom:14px;

}
#search-sider-bar-right  > div{
	margin-left:6px;	
}

#search-sider-bar-right #search-navigation-bar {
	position: relative;
	margin:14px 0px 16px 0px;
	width: 100%;
	min-width: 693px;
	border-bottom: 1px solid #EEEEEE;
}

#search-sider-bar-right #search-navigation-bar .navi-item {
	position: relative;
	font-size: 13px;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	display: inline-block;
	color:rgb(135, 135, 135);
}

#search-sider-bar-right #search-navigation-bar .active-navi {
	color: rgb(18, 18, 18);
	border-bottom: 3px solid rgb(10, 43, 138);
	border-radius: 0px;
}

#search-sider-bar-right #search-navigation-bar .navi-item .sub-text {
	font-size: 9px;
	font-weight: normal;
}

.user-profile-wrapper{
	width:43% !important;
}